@font-face {
  font-family: "College Block";
  src: url("fonts/CollegeBlock.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lemon/Milk";
  src: url("fonts/LemonMilk.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lemon/Milk light";
  src: url("fonts/LemonMilklight.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP Light";
  src: url("fonts/NotoSansJP-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP Regular";
  src: url("fonts/NotoSansJP-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --form-font: "Monaco", sans-serif;
  --beer-font: "College Block";
  --subtitle-font: "Lemon/Milk light";
  --category-color: #b79027;
}

html {
  scroll-behavior: smooth;
}

p.price {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#bartendersUnit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#tapsUnit {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 400px;
}

#servingUnit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  text-align: center;
}

/*----------- DESKTOP BEER LIST -----------*/
#beerApp {
  background-image: url(static/images/beerHeader_final.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#beerList {
  display: grid;
  grid-template-columns: 0.3fr 60px 1fr 0.3fr;
  grid-template-areas: "buttons logo beer glass glassButton";
  background-color: white;
  width: 100%;
}
#beerList h2,
#reviewOrderList h2 {
  /* grid-area: beer; */
  font-size: 14px;
  display: inline-flex;
  text-transform: uppercase;
  font-family: var(--beer-font);
}
#beerList p,
#reviewOrderList p {
  font-size: 10px;
}
.header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas: "previous subtitle next";
}
h2.subtitle {
  grid-area: subtitle;
  display: flex;
  align-self: center;
  font-size: 18px;
  font-family: var(--subtitle-font);
  border-radius: 15px;
}
.filterButton,
.sortButton,
.resetFilter {
  background: white;
  border-radius: 5px;
  font-family: var(--subtitle-font);
}
#filters,
#sorting {
  background: white;
}
h2.name {
  /* grid-area: beer; */
  display: flex;
  align-self: flex-start;
  margin-left: 10px;
}
h2.category {
  /* grid-area: beer; */
  display: flex;
  /* align-self: center; */
  margin-left: 10px;
}
p.alcohol {
  /* grid-area: beer; */
  display: flex;
  align-self: flex-end;
  margin-left: 10px;
}
img.logo {
  grid-area: logo;
  display: flex;
  align-self: center;
  justify-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.appForm {
  display: flex;
  align-self: center;
  padding: 5px;
  margin-top: 20px;
}
input#quantity {
  grid-area: buttons;
  height: 10px;
  width: 5px;
  font-size: 14px;
  display: flex;
  justify-self: flex-start;
  border: inherit;
}
.appFormSubmit {
  display: buttons;
  display: flex;
  width: 50px;
  height: 30px;
  align-self: center;
}
.minus,
.plus {
  grid-area: buttons;
  height: 20px;
  width: 20px;
  font-size: 60%;
  margin-top: 5px;
}
/*PLUS AND MINUS*/
/*https://codepen.io/Tanya_Rybachuk/pen/jyxzEp*/
span {
  cursor: pointer;
}
.number {
  margin: 100px;
}
input#quantity {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  background-color: inherit;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
/*----------------------modal ----------------------*/
.reviewTheOrder {
  list-style: none;
}

.modalBtn {
  float: right;
}
.beerUnavailable {
  filter: grayscale(100%);
}
/*-------------- increase/decrease buttons ---------*/
.minus,
.plus {
  grid-area: buttons;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background: orange;
  font-size: 100%;
  text-align: center;
  font-weight: 500;
  color: rgb(255, 255, 255);
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.4), 0 2.5px 6px rgba(0, 0, 0, 0.2);
}
.plus:hover,
.minus:hover {
  background: inherit;
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
}

/*dropdown*/
.hide {
  display: none;
}

.dropdown {
  border-radius: 15px;
  box-shadow: 1px 1px 7px 2px #ccc;
  background-color: white;
  padding: 1em;
  font-family: "Noto Sans JP Regular";
  text-align: justify;
}

/*logo*/
.logo {
  height: 100px;
  width: 100px;
}
/*button*/
.showMoreButton {
  display: grid;
  float: right;
}
.showMore {
  background-repeat: no-repeat;
  height: 100px;
}
.rotate {
  transform: rotate(-45deg);
}

/*filter and sort section*/
#filterAndSort {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}
/*filter*/
.filterOptions {
  display: none;
  list-style: none;
  cursor: pointer;
}
.filterButton,
.sortButton,
.resetFilter {
  font-family: var(--subtitle-font);
  padding: 20px;
  border: 1px solid inherit;
}
.filter:hover {
  border-bottom: 2px solid rosybrown;
}
.filter {
  padding: 10px;
}
.showFilters {
  display: block;
}

/*sort*/
#filters,
#sorting {
  background: white;
  border-radius: 10px;
}
li.filter,
li.sortBy {
  border-bottom: white 4px solid;
  margin: 5px;
  font-size: 14px;
  font-family: var(--subtitle-font);
}
.sortOptions {
  list-style: none;
}
/* .sortOptions li::before {
  content: "↑";
}
.sortOptions li::after {
  content: "↓";
} */

.arrowUpSort::after {
  content: "↑";
}

.arrowDownSort::after {
  content: "↓";
}
.sortBy {
  padding: 10px;
  cursor: pointer;
}
.sortBy:hover {
  border-bottom: 2px solid goldenrod;
}
.showSorting {
  display: block;
}
.showMoreButton {
  grid-area: glass;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #d4bd7f;
  color: white;
  display: flex;
  justify-self: flex-end;
  align-self: center;
  margin-right: 5px;
}
.showMore {
  grid-area: glass;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  width: 60px;
  height: 65px;
  margin-right: 20px;
}

/*---------------------------- DASHBOARD --------------------------*/
/*QUEUE*/
#unitTitle {
  font-family: var(--beer-font);
}
#queueUnit {
  display: flex;
  /* background-color: white; */
}

#queueUnit p {
  font-family: var(--subtitle-font);
}
.queueLogo img {
  height: 100px;
  width: auto;
}

.avatar {
  height: 60px;
  width: auto;
}

/*TAPS*/
.bulletUse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.servingBeerGlass img {
  height: 100px;
  width: auto;
}
/*STORAGE*/
#storageUnit {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.kegImage {
  height: 120px;
  width: auto;
}
/*monitor 14'*/
@media screen and (min-width: 1400px) and (max-width: 1600px) {
}
/*------------ monitor view ----------*/
@media screen and (min-width: 1400px) {
  #dashboard {
    background-image: url("static/images/bubbles.png");
    background-size: 100%;
  }
  #dashboard main {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    justify-content: center;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-auto-columns: max-content;
    grid-template-areas:
      "queue serving storage"
      "queue serving bartenders"
      "queue serving taps";
  }
  #servingNext,
  #nextInLine,
  #bartenders,
  #mostWanted,
  #tapsDashboard {
    border-radius: 15px;
    background: white;
    box-shadow: 1px 1px 7px 2px #ccc;
    padding: 1em;
    margin: 7px;
  }
  #mostWanted h1,
  #nextInLine h1,
  #servingNext h1,
  #tapsDashboard h1,
  #bartenders h1 {
    font-family: var(--subtitle-font);
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  #nextInLine p,
  #servingNext p,
  #tapsDashboard p,
  #bartenders p {
    font-family: var(--subtitle-font);
    font-size: 20px;
  }
  #dashboard .foobarTitle {
    font-family: var(--subtitle-font);
    font-size: 60px;
    margin-top: 10px;
    color: olive;
    border-radius: 15px;
    margin: 0;
    /*     background: #ececec;
    background-image: url("static/images/bubbles.png"); */
    /* box-shadow: 1px 1px 7px 2px #ccc; */
    /*     margin-bottom: 50px; */
  }
  #dashboard .subtitle {
    display: none;
  }
  #dashboard #localTime {
    font-family: "Lemon/Milk";
    font-size: 32px;
    margin: 0;
    align-self: center;
  }
  #mainHeader {
    display: flex;
    justify-content: space-between;
  }
  #dashboard #timer {
    text-align-last: right;
    font-family: "Lemon/Milk";
    font-size: 28px;
    margin: 0;
    align-self: center;
  }
  /*----- storage ------*/
  #mostWanted {
    grid-area: storage;
    text-align-last: center;
    padding: 0;
  }
  #mostWanted h1 {
    display: none;
  }
  #storageUnit {
    display: inline-grid;
  }
  #storageUnit article {
    align-self: flex-end;
    text-align-last: center;
  }
  /*show only 5*/
  #storageUnit article:nth-child(n + 6) {
    display: none;
  }
  #storageUnit .amount {
    display: none;
  }
  /*----- serving ------*/
  #servingNext {
    grid-area: serving;
  }
  #servingNext p {
    font-family: var(--subtitle-font);
  }
  #servingNext img {
    width: auto;
    height: 110px;
    margin-right: 0.5em;
  }
  #servingUnit article {
    display: grid;
  }
  .servingBeerGlass {
    display: block;
    justify-content: flex-start;
  }
  #dashboard #servingUnit {
    text-align: left;
    object-fit: fill;
  }
  #servingUnit {
    display: grid;
    grid-template-columns: 1fr;
  }
  #servingUnit .order {
    display: none;
  }

  .glassServed {
    height: 130px;
    width: auto;
  }

  .glassServedRotate {
    animation: rotateServing 8s infinite;
  }

  @keyframes rotateServing {
    to {
      transform: rotate(-15deg);
    }
  }
  .pouringBeer {
    height: 70px;
    width: 50px;
    animation: pouringBeer 2s ease-in both;
  }
  @keyframes pouringBeer {
    0% {
      transform: rotateY(30deg) translateY(-100px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(-55px) skewY(0deg);
      opacity: 0.7;
    }
  }

  /*----- taps ------*/
  #tapsDashboard {
    grid-area: taps;
    background: white;
  }
  #tapsDashboard article {
    width: 30px;
    height: 30px;
    display: inline-table;
  }
  #tapsDashboard h1 {
    display: none;
  }
  #tapsDashboard p.level,
  #tapsDashboard p.id {
    display: none;
  }
  #dashboard #tapsUnit {
    width: 100%;
    justify-items: center;
  }
  .tapImage {
    height: 200px;
    width: 50px;
    justify-self: flex-start;
  }
  .bulletUse {
    display: none;
  }

  .glowLowLevel {
    animation: glowLow 2s infinite alternate;
  }

  @keyframes glowLow {
    from,
    to {
      filter: drop-shadow(0);
    }
    50% {
      filter: drop-shadow(0 0 0.75rem yellow);
    }
  }

  /*----- bartenders ------*/
  #bartenders {
    grid-area: bartenders;
    align-self: center;
  }
  #bartenders .bartender {
    width: 80px;
    height: 80px;
    border: 10px solid;
  }
  #bartenders h1 {
    display: none;
  }
  #bartenders p {
    margin: 5px;
    font-size: 22px;
    font-family: var(--form-font);
  }
  #bartenders p.name {
    font-family: var(--subtitle-font);
    font-size: 20px;
  }
  #bartenders p.servingCustomer {
    display: none;
  }
  #bartenders .status {
    display: none;
  }
  #bartenders .usingTap {
    display: none;
  }
  /*----- queue ------*/
  #nextInLine {
    grid-area: queue;
  }
  .queueLogo {
    text-align: justify;
  }
  #queueUnit .id {
    align-self: flex-start;
  }
  #queueUnit .startTime {
    align-self: flex-start;
  }
  .queueLogo img {
    height: 65px;
    margin: 10px;
  }
  #queueUnit {
    display: grid;
    grid-row-gap: 1.5em;
  }
  #queueUnit article {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0 55px 0 1fr 50px;
  }
}

/*-----------------------------------------------------------RESPONSIVE---------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) and (min-device-width: 768px) {
  #beerApp {
    background-image: url(static/images/beerHeader_final.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .beerInfoName {
    grid-area: beer;
  }
  .showingMore {
    display: grid;
    align-self: center;
  }
  #beerList {
    grid-template-columns: 0.3fr 80px 1fr 0.5fr;
  }
  #beerList p {
    margin-left: 10px;
    margin-top: 5px;
  }
  #beerList h2 {
    margin-bottom: 5px;
    margin-top: 1.5em;
  }
}
/*ipad pro landscape*/

/*------------ tablet view ----------*/
@media screen and (max-width: 1200px) {
  /*-------- TABLET BEER LIST ------*/
  #beerApp {
    background-image: url(static/images/beerHeader_final.png);
    background-repeat: no-repeat;
  }
  #beerList {
    border-radius: 15px;
    box-shadow: 1px 1px 7px 2px #ccc;
  }
  #beerList h2,
  #reviewOrderList h2 {
    font-family: var(--beer-font);
    /* margin-left: 30px; */
    font-size: 20px;
  }
  #beerList h2:last-of-type,
  #reviewOrderList h2:last-of-type {
    color: var(--category-color);
    /* margin-left: 30px; */
    font-size: 20px;
  }
  #beerList p,
  #reviewOrderList p {
    font-family: var(--form-font);
    font-size: 15px;
    color: grey;
  }
  .header {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 120px 0.4fr;
    grid-template-areas:
      ". . ."
      "previous subtitle next";
  }
  .previous {
    grid-area: previous;
    width: 60px;
    height: 60px;
    margin-top: 60px;
  }
  .next {
    grid-area: next;
    width: 80px;
    height: 80px;
    margin-top: 255px;
  }
  h2.subtitle {
    font-size: 34px;
    padding: 150px 0 30px 0;
  }
  .filterButton,
  .sortButton,
  .resetFilter {
    font-size: 20px;
    border: inherit;
    border-radius: 10px;
  }
  .resetFilter {
    float: right;
  }
  img.logo {
    width: 80px;
    height: 80px;
  }
  .appForm {
    margin: 25px 0;
  }
  input#quantity {
    /* height: 15px; */
    width: 3em;
    /* font-size: 18px; */
    display: flex;
    align-self: center;
    justify-self: flex-start;
    margin: 5px 10px;
  }
  li.sortBy {
    font-size: 20px;
  }
  .minus,
  .plus {
    grid-area: buttons;
    height: 30px;
    width: 30px;
    font-size: 60%;
    margin-top: 5px;
    display: none;
  }
  .appFormSubmit {
    display: none;
  }
  .showMoreButton {
    margin-right: 15px;
  }
  .showMore {
    width: 120px;
    height: 85px;
    margin-right: 20px;
  }
  .dropdown {
    font-family: "Noto Sans JP Regular";
    font-size: 20px;
    padding: 40px 70px;
    text-align: justify;
  }
  /* .dropdown p.aroma::before {
    content: url("static/icons/aroma.png");
    display: inline-flex;
    width: 10px;
    height: 10px;
  } */
  /*------- modals ------*/
  .modal,
  .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modalContent,
  .modalContent2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 90%;
    height: 100%;
  }
  .closeModal,
  .closeModal2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .closeModal:hover,
  .closeModal:focus,
  .closeModal2:hover,
  .closeModal2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  p.price {
    padding-top: 15px;
    font-size: 22px;
    display: block;
  }

  /*----------- REVIEW ------------*/
  button.next,
  button.nextReview {
    float: right;
  }
  article#reviewOrderList {
    padding: 30px;
  }

  /*------------ FORM ------------*/
  .formSection {
    display: block;
    font-family: var(--subtitle-font);
  }
  h2.subtitle {
    display: flex;
    justify-content: center;
  }
  img.cards {
    width: 140px;
    height: 30px;
    margin-left: 190px;
  }
  label {
    margin: 5px 0 10px 0;
  }
  form input {
    margin-bottom: 20px;
    background-color: rgb(230, 228, 228);
    border-radius: 5px solid inherit;
    display: block;
    font-family: var(--form-font);
    font-size: 14px;
    width: 380px;
    padding: 8px;
  }
  input + p {
    display: none;
  }
  .invalid {
    font-size: 14px;
    width: 310px;
    padding: 8px;
  }
  input.invalid + p {
    display: block;
    font-size: 14px;
    margin-top: -24px;
    margin-bottom: 30px;
    background-color: inherit;
    border: 2px solid red;
    padding: 6px;
    font-family: "Times New Roman", sans-serif;
    width: 310px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  input:focus,
  textarea:focus {
    background-color: white;
    color: black;
  }
  form {
    justify-content: center;
    display: grid;
    padding: 60px;
    background: white;
  }
  .cc-expiry-input {
    display: inline-flex;
    margin-right: 5%;
    width: calc(55% - 40px);
  }
  .cc-expiry-input.invalid + p {
    width: calc(55% - 40px);
  }
  .cc-cvc-input {
    display: inline-flex;
    width: calc(37.8% - 40px);
  }
  .cc-cvc-input.invalid + p {
    width: calc(37.8% - 40px);
  }
  .formSubmit {
    font-size: 20px;
    padding: 20px;
    border: solid 1px olive;
    background-color: inherit;
    letter-spacing: 1px;
    font-family: var(--subtitle-font);
    text-transform: uppercase;
    cursor: pointer;
    justify-self: center;
    width: 400px;
  }
  .formSubmit:hover {
    color: black;
    background-color: white;
  }
  .loadingGif {
    background-image: url(gifs/beer3.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .noForm {
    visibility: hidden;
  }
}

/*------- tablet for DASHBOARD -------*/
@media screen and (max-width: 1200px) and (min-device-width: 760px) {
  #dashboard {
    background-image: url("static/images/bubbles.png");
    background-size: 100%;
  }
  #dashboard main {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    justify-content: center;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-auto-columns: max-content;
    grid-template-areas:
      "queue serving storage"
      "queue serving bartenders"
      "queue serving taps";
  }
  #servingNext,
  #nextInLine,
  #bartenders,
  #mostWanted,
  #tapsDashboard {
    border-radius: 15px;
    background: white;
    box-shadow: 1px 1px 7px 2px #ccc;
    padding: 1em;
    margin: 7px;
  }
  #mostWanted h1,
  #nextInLine h1,
  #servingNext h1,
  #tapsDashboard h1,
  #bartenders h1 {
    font-family: var(--subtitle-font);
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  #nextInLine p,
  #servingNext p,
  #tapsDashboard p,
  #bartenders p {
    font-family: var(--subtitle-font);
    font-size: 16px;
  }
  #dashboard .foobarTitle {
    font-family: var(--subtitle-font);
    font-size: 40px;
    margin-top: 10px;
    color: olive;
    margin: 0;
  }
  #dashboard .subtitle {
    display: none;
  }
  #dashboard #localTime {
    font-family: "Lemon/Milk";
    font-size: 24px;
  }
  #mainHeader {
    display: flex;
    justify-content: space-between;
  }
  #dashboard #timer {
    text-align-last: right;
    font-family: "Lemon/Milk";
    font-size: 24px;
    margin: 0;
    align-self: center;
  }
  /*----- storage ------*/
  #mostWanted {
    grid-area: storage;
    text-align-last: center;
    padding: 0;
  }
  #mostWanted h1 {
    display: none;
  }
  #storageUnit {
    display: inline-grid;
  }
  #storageUnit article {
    align-self: flex-end;
    text-align-last: center;
  }
  #storageUnit .kegImage {
    width: 45px;
    height: 95px;
  }
  /*show only 5*/
  #storageUnit article:nth-child(n + 6) {
    display: none;
  }
  #storageUnit .amount {
    display: none;
  }
  /*----- serving ------*/
  #servingNext {
    grid-area: serving;
  }
  #servingNext p {
    font-family: var(--subtitle-font);
  }
  #servingNext img {
    width: auto;
    height: 80px;
    margin-right: 0.5em;
  }
  #servingUnit article {
    display: grid;
  }
  .servingBeerGlass {
    display: block;
    justify-content: flex-start;
  }
  #dashboard #servingUnit {
    text-align: left;
    object-fit: fill;
  }
  #servingUnit {
    display: grid;
    grid-template-columns: 1fr;
  }
  #servingUnit .order {
    display: none;
  }
  .glassServed {
    height: 100px;
    width: auto;
  }
  .glassServedRotate {
    animation: rotateServing 8s infinite;
  }
  @keyframes rotateServing {
    to {
      transform: rotate(-15deg);
    }
  }
  .pouringBeer {
    height: 70px;
    width: 50px;
    animation: pouringBeer 2s ease-in both;
  }
  @keyframes pouringBeer {
    0% {
      transform: rotateY(30deg) translateY(-100px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(-55px) skewY(0deg);
      opacity: 0.7;
    }
  }
  /*----- taps ------*/
  #tapsDashboard {
    grid-area: taps;
    background: white;
  }
  #tapsDashboard article {
    width: 30px;
    height: 30px;
    display: inline-table;
  }
  #tapsDashboard h1 {
    display: none;
  }
  #tapsDashboard p.level,
  #tapsDashboard p.id {
    display: none;
  }
  #dashboard #tapsUnit {
    width: 100%;
    justify-items: center;
  }
  .tapImage {
    height: 195px;
    width: 45px;
    justify-self: flex-start;
  }
  .bulletUse {
    display: none;
  }
  .glowLowLevel {
    animation: glowLow 2s infinite alternate;
  }
  @keyframes glowLow {
    from,
    to {
      filter: drop-shadow(0);
    }
    50% {
      filter: drop-shadow(0 0 0.75rem yellow);
    }
  }
  /*----- bartenders ------*/
  #bartenders {
    grid-area: bartenders;
    align-self: center;
  }
  #bartenders .bartender {
    width: 65px;
    height: 65px;
    border: 7px solid;
  }
  #bartenders h1 {
    display: none;
  }
  #bartenders p {
    margin: 5px;
    font-size: 14px;
    font-family: var(--form-font);
  }
  #bartenders p.name {
    font-family: var(--subtitle-font);
    font-size: 18px;
  }
  #bartenders p.servingCustomer {
    display: none;
  }
  #bartenders .status {
    display: none;
  }
  #bartenders .usingTap {
    display: none;
  }
  /*----- queue ------*/
  #nextInLine {
    grid-area: queue;
  }
  .queueLogo {
    text-align: justify;
  }
  #queueUnit .id {
    align-self: flex-start;
  }
  #queueUnit .startTime {
    align-self: flex-start;
    display: none;
  }
  .queueLogo img {
    height: 45px;
    margin: 10px;
  }
  #queueUnit {
    display: grid;
    grid-row-gap: 1.5em;
  }
  #queueUnit article {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 0 55px 0 1fr 50px;
    margin: 0;
  }
}

/*----------- mobile view -----------*/
@media screen and (max-width: 420px) {
  /*------- MOBILE BEER LIST -------*/

  /*review*/

  .modalBtn {
    float: right;
  }
  /*beer app*/

  /*FILTER*/

  /* #filters {
  } */

  .filterOptions {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .showFilters {
    display: block;
  }

  .price {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  li.filter,
  li.sortBy {
    font-size: 16px;
  }

  li.sortBy {
    display: block;
  }
  #beerApp {
    background-image: url(static/images/beerHeader_final.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /**/
  .backgroundAdjust {
    background-size: contain;
  }
  #heroImg {
    width: 100%;
  }
  .header {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 120px 0.4fr;
    grid-template-areas:
      ". . ."
      "previous subtitle next";
  }
  .previous {
    grid-area: previous;
    width: 30px;
    height: 30px;
    margin-top: 83px;
  }
  .next {
    grid-area: next;
    width: 50px;
    height: 50px;
    margin-top: 140px;
  }

  .beerInfoName {
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-area: beer;
    grid-template-areas: "beerName beerCategory beerAlc";
  }
  #beerList {
    grid-template-areas: "buttons logo beer glass glassButton";
  }

  #beerAre #beerList {
    display: grid;
    grid-template-columns: 0.9fr 0.3fr 1fr 1fr;
    grid-template-areas: "buttons logo beer glass";
    background-color: white;
    width: 100%;
  }
  #beerList h2,
  #reviewOrderList h2 {
    grid-area: beerName;
    font-size: 18px;
    display: inline-flex;
    text-transform: uppercase;
    /* margin-left: 20px; */
    margin-bottom: 0;
  }
  #beerList h2:last-of-type,
  #reviewOrderList h2:last-of-type {
    grid-area: beerCategory;
    font-size: 16px;

    /* margin-left: 20px; */
  }
  #beerList .price {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  #beerList p,
  #reviewOrderList p {
    grid-area: beerAlc;
    font-size: 12px;
    margin-left: 10px;
  }

  #dashboard h2.subtitle {
    margin-top: 120px;
  }
  h2.subtitle {
    grid-area: subtitle;
    display: flex;
    align-self: center;
    font-size: 18px;
    padding: 0 0 30px 0;
    font-family: var(--subtitle-font);
  }
  .filterButton,
  .sortButton,
  .resetFilter {
    font-size: 16px;
    padding: 12px;
  }
  .resetFilter {
    float: right;
  }
  p.alcohol {
    grid-area: beerAlc;
    display: flex;
    align-self: flex-start;
    margin-left: 0;
  }
  img.logo {
    grid-area: logo;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  .appForm {
    display: block;
    align-self: center;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
  }
  input#quantity {
    font-size: 18px;
    width: 15px;
  }
  .minus,
  .plus {
    grid-area: buttons;
    height: 20px;
    width: 20px;
    display: flex;
    align-self: center;
    font-size: 60%;
    /*test*/
    display: none;
  }
  .appFormSubmit {
    display: none;
  }
  .showMoreButton {
    grid-area: glassButton;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #d4bd7f;
    color: white;
  }
  .showMore {
    grid-area: glass;
    display: flex;
    justify-self: flex-end;
    align-self: center;
    width: 100%;
    height: 80px;
    margin-right: 5px;
  }
  .showingMore {
    display: contents;
  }
  .dropdown {
    font-family: "Noto Sans JP Regular";
    font-size: 16px;
    padding: 25px 45px;
    text-align: justify;
  }
  /*------- modals ------*/
  .modal,
  .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modalContent,
  .modalContent2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 90%;
    height: 100%;
  }
  .closeModal,
  .closeModal2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .closeModal:hover,
  .closeModal:focus,
  .closeModal2:hover,
  .closeModal2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*----------- MOBILE REVIEW ------------*/
  button.next,
  button.nextReview {
    float: right;
  }
  article#reviewOrderList {
    padding: 30px;
  }

  /*------------ MOBILE FORM ------------*/
  .formSection {
    display: block;
    font-family: var(--subtitle-font);
  }
  h2.subtitle {
    display: flex;
    justify-content: center;
  }
  label {
    margin: 5px 0 10px 0;
  }
  img.cards {
    width: 100px;
    height: 20px;
    margin-left: 230px;
  }
  form input {
    margin-bottom: 20px;
    background-color: rgb(230, 228, 228);
    border-radius: 7px;
    border: inherit;
    display: block;
    font-family: var(--form-font);
    font-size: 14px;
    width: 310px;
    padding: 10px;
  }
  input + p {
    display: none;
  }
  .invalid {
    font-size: 14px;
    width: 310px;
    padding: 8px;
  }
  input.invalid + p {
    display: block;
    font-size: 14px;
    margin-top: -24px;
    margin-bottom: 30px;
    background-color: inherit;
    border: 2px solid red;
    padding: 6px;
    font-family: "Times New Roman", sans-serif;
    width: 310px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  input:focus,
  textarea:focus {
    background-color: white;
    color: black;
  }
  form {
    justify-content: center;
    display: grid;
    padding: 60px;
    border-radius: 10px;
  }
  .cc-expiry-input {
    display: inline-flex;
    margin-right: 5%;
    width: calc(55% - 40px);
  }
  .cc-expiry-input.invalid + p {
    width: calc(55% - 40px);
  }
  .cc-cvc-input {
    display: inline-flex;
    width: calc(37.8% - 40px);
  }
  .cc-cvc-input.invalid + p {
    width: calc(37.8% - 40px);
  }
  .formSubmit {
    font-size: 20px;
    padding: 20px;
    border: solid 1px olive;
    background-color: inherit;
    letter-spacing: 1px;
    font-family: var(--subtitle-font);
    text-transform: uppercase;
    cursor: pointer;
    justify-self: center;
    width: 310px;
  }
  .formSubmit:hover {
    color: black;
    background-color: white;
  }
  .loadingGif {
    background-image: url(gifs/beer3.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .noForm {
    visibility: hidden;
  }
  /*---------- MOBILE DASHBOARD ---------*/
  .fooBar {
    display: none;
  }
  #dashboard {
    background-image: url(static/images/beerHeader_long.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #dashboard h1 {
    font-size: 18px;
    padding: 16px;
    font-family: "Lemon/Milk";
  }
  #dashboard p {
    font-size: 16px;
    margin-top: 0;
  }
  #dashboard #localTime {
    display: flex;
    justify-content: center;
    font-family: var(--subtitle-font);
    font-size: 16px;
    padding-bottom: 5px;
  }
  #dashboard #timer {
    display: flex;
    justify-content: center;
    font-family: var(--form-font);
    font-size: 16px;
    padding-bottom: 20px;
  }
  #dashboard article {
    text-align: center;
  }

  /*BARTENDER*/
  #dashboard #bartendersUnit {
    width: 100%;
  }
  .bartender {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  /*TAPS*/
  .glassServed {
    display: none;
  }
  #dashboard #tapsUnit {
    width: 100%;
  }
  .tapImage {
    height: fit-content;
    width: auto;
  }
  .bulletUse {
    display: inline-block;
  }
  /*QUEUE*/
  #nextInLine,
  #bartenders,
  #servingNext,
  #mostWanted,
  #tapsDashboard {
    border-radius: 15px;
    background: white;
    box-shadow: 1px 1px 7px 2px #ccc;
    padding-bottom: 2em;
  }
  .avatar {
    height: 40px;
    justify-self: center;
  }
  .queueLogo {
    text-align: justify;
  }
  #queueUnit .id {
    align-self: flex-start;
  }

  #queueUnit .startTime {
    align-self: flex-start;
  }
  .queueLogo img {
    height: 65px;
    margin-right: 5px;
  }
  #queueUnit {
    display: grid;
    grid-row-gap: 1.5em;
  }
  #queueUnit article {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0px 55px 0px 1fr 50px;
  }
  /*SERVING*/
  #servingUnit article {
    display: inline-grid;
    grid-template-columns: 50px 1fr;
  }
  .servingBeerGlass {
    text-align-last: start;
  }
  #dashboard #servingUnit {
    width: 300px;
    text-align: left;
  }

  #servingUnit {
    display: grid;
    grid-template-columns: 1fr;
  }
  #servingUnit .order {
    display: none;
  }
  #dashboard #servingUnit article {
    padding: 0.5em;
  }

  .servingBeerGlass img {
    margin-right: 5px;
  }
  /*STORAGE*/
  #storageUnit {
    grid-template-columns: repeat(4, 1fr);
  }
  #storageUnit article {
    display: grid;
    align-items: self-end;
    justify-items: center;
  }
}
/*mobile 325 or smaller*/
@media screen and (max-width: 325px) {
  .showingMore {
    display: block;
  }
  .glassServed {
    display: none;
  }
  #beerList {
    grid-template-columns: 0fr 50px 1fr 0.4fr;
  }
}

/*hide mobile image for devices bigger than a tablet*/
@media screen and (min-width: 700px) {
  .headerDashboard {
    display: none;
  }
}
