#bartendersUnit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    text-align: center;
    border: 1px solid;
}

#tapsUnit {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 400px;
    text-align: center;
    border: 1px solid;
}