:root {
  --form-font: "Monaco", sans-serif;
  --beer-font: "College Block";
  --subtitle-font: "Lemon/Milk Light", sans-serif;
  --category-color: mediumslateblue;
}

#bartendersUnit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 400px;
  text-align: center;
  border: 1px solid;
}

#tapsUnit {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 400px;
  text-align: center;
  border: 1px solid;
}

#servingUnit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  text-align: center;
  border: 1px solid;
}

/*APP PAGE*/

/*dropdown*/
.hide {
  display: none;
}

/*logo*/

.logo {
  height: 100px;
  width: 100px;
}
/*button*/
.showMoreButton {
  display: grid;
  float: right;
}
.showMore {
  background-repeat: no-repeat;
  height: 100px;
}

.rotate {
  transform: rotate(180deg);
}

/*filter and sort section*/

#filterAndSort {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}
/*filter*/
.filterOptions {
  display: none;
  list-style: none;
  cursor: pointer;
}
.filter:hover {
  border-bottom: 2px solid rosybrown;
}

.filter {
  padding: 10px;
}
.showFilters {
  display: block;
}
/*sort*/

.sortOptions {
  display: none;
  list-style: none;
}

.sortBy {
  padding: 10px;
  cursor: pointer;
}
.sortBy:hover {
  border-bottom: 2px solid goldenrod;
}

.showSorting {
  display: block;
}

/*-----------------------------------------------------------RESPONSIVE---------------------------------------------------------------------------*/

/*----------- tablet view -----------*/
@media screen and (max-width: 1500px) {
  /*---------- BEER LIST ----------*/
  article#beerList {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
  #beerList h2,
  #reviewOrderList h2 {
    font-family: var(--beer-font);
    display: inline-flex;
  }
  #beerList h2:last-of-type,
  #reviewOrderList h2:last-of-type {
    color: var(--category-color);
  }
  #beerList p {
    font-family: var(--form-font);
    font-size: 14px;
    color: grey;
  }
  h1.title {
    color: darkgrey;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: var(--form-font);
  }
  h2.subtitle {
    display: flex;
    justify-content: center;
    font-family: var(--subtitle-font);
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
  }
  .sortOptions li::before {
    content: "↓";
  }
  .sortOptions li::after {
    content: "↑";
  }

  /*----------- REVIEW ------------*/
  button.next {
    float: right;
  }
  article#reviewOrderList {
    padding: 30px;
  }

  /*------------ FORM ------------*/
  .formSection {
    display: block;
    font-family: var(--subtitle-font);
  }
  h2.subtitle {
    display: flex;
    justify-content: center;
  }
  label {
    margin: 5px 0 10px 0;
  }
  input {
    display: block;
    font-family: var(--form-font);
    font-size: 1rem;
    width: 14em;
  }
  input + p {
    display: none;
  }
  .invalid {
    font-size: 1rem;
    width: 14em;
    padding: 8px;
  }
  input.invalid + p {
    display: block;
    font-size: 0.7rem;
    margin-top: -24px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 2px solid red;
    padding: 7px;
    font-family: "Times New Roman", sans-serif;
    width: 226px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  input:focus,
  textarea:focus {
    background-color: white;
    color: black;
  }
  form {
    justify-content: center;
    display: grid;
    padding: 60px;
  }
  form input {
    margin-bottom: 1.5rem;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
  }
  .cc-expiry-input {
    display: inline-flex;
    margin-right: 5%;
    width: calc(55% - 40px);
  }
  .cc-cvc-input {
    display: inline-flex;
    width: calc(37.8% - 40px);
  }
  .formSubmit {
    font-size: 1rem;
    padding: 15px 30px;
    border: solid 1px olive;
    letter-spacing: 1px;
    font-family: var(--form-font);
    text-transform: uppercase;
    cursor: pointer;
    justify-self: center;
    width: 15em;
  }
  .formSubmit:hover {
    color: black;
    background-color: olive;
  }
  .loadingGif {
    background-image: url(gifs/beer3.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .noForm {
    visibility: hidden;
  }
}

/*PLUS AND MINUS*/
/*https://codepen.io/Tanya_Rybachuk/pen/jyxzEp*/
span {
  cursor: pointer;
}
.number {
  margin: 100px;
}
.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
